# November 14, 2020

## Some additional considerations

### A month column for the storms dataframe

It will be easier to create graphics based on data for specific months if we add a column to the `storms` dataset that gives the month the storm formed in.

This will be easier to parse if we make the `date` column in `positions` a datetime variable, which we should've done to begin with.

In [9]:
import pandas as pd

positions = pd.read_csv("../data/02_intermediate/Atlantic_positions.csv")
storms = pd.read_csv("../data/02_intermediate/Atlantic_storms.csv")

month_formed = []

positions["date"] = pd.to_datetime(positions["date"], format = "%Y%m%d")

for stormID in storms["stormID"]:
    
    months = positions[positions["stormID"] == stormID]["date"].dt.month
    
    monthslist = months.tolist()
    
    month_formed.append(monthslist[0])

storms["month_formed"] = pd.Series(month_formed)

storms.head()

    stormID     name  numPositions  year  month_formed
0  AL011851  UNNAMED            14  1851             6
1  AL021851  UNNAMED             1  1851             7
2  AL031851  UNNAMED             1  1851             7
3  AL041851  UNNAMED            49  1851             8
4  AL051851  UNNAMED            16  1851             9

This looks like it worked, but let's check a few cases farther down the storm list to make sure.

In [16]:
storms[storms["year"] >= 2017]

       stormID       name  numPositions  year  month_formed
1839  AL012017     ARLENE            27  2017             4
1840  AL022017       BRET             9  2017             6
1841  AL032017      CINDY            20  2017             6
1842  AL042017       FOUR             9  2017             7
1843  AL052017        DON             7  2017             7
1844  AL062017      EMILY            11  2017             7
1845  AL072017   FRANKLIN            18  2017             8
1846  AL082017       GERT            28  2017             8
1847  AL092017     HARVEY            74  2017             8
1848  AL112017       IRMA            66  2017             8
1849  AL122017       JOSE            85  2017             9
1850  AL132017      KATIA            18  2017             9
1851  AL142017        LEE            63  2017             9
1852  AL152017      MARIA            68  2017             9
1853  AL162017       NATE            32  2017            10
1854  AL172017    OPHELIA            47  2017            10
1855  AL182017   PHILIPPE             7  2017            10
1856  AL192017       RINA            21  2017            11
1857  AL012018    ALBERTO            26  2018             5
1858  AL022018      BERYL            52  2018             7
1859  AL032018      CHRIS            50  2018             7
1860  AL042018      DEBBY            32  2018             8
1861  AL052018    ERNESTO            18  2018             8
1862  AL062018   FLORENCE            79  2018             8
1863  AL072018     GORDON            25  2018             9
1864  AL082018     HELENE            42  2018             9
1865  AL092018      ISAAC            31  2018             9
1866  AL102018      JOYCE            39  2018             9
1867  AL112018     ELEVEN             5  2018             9
1868  AL122018       KIRK            28  2018             9
1869  AL132018     LESLIE            89  2018             9
1870  AL142018    MICHAEL            38  2018            10
1871  AL152018     NADINE            18  2018            10
1872  AL162018      OSCAR            36  2018            10
1873  AL012019     ANDREA             7  2019             5
1874  AL022019      BARRY            25  2019             7
1875  AL032019      THREE             5  2019             7
1876  AL042019    CHANTAL            25  2019             8
1877  AL052019     DORIAN            70  2019             8
1878  AL062019       ERIN            14  2019             8
1879  AL072019    FERNAND             9  2019             9
1880  AL082019  GABRIELLE            35  2019             9
1881  AL092019   HUMBERTO            34  2019             9
1882  AL102019      JERRY            45  2019             9
1883  AL112019     IMELDA             9  2019             9
1884  AL122019      KAREN            25  2019             9
1885  AL132019    LORENZO            48  2019             9
1886  AL142019    MELISSA            25  2019            10
1887  AL152019    FIFTEEN            13  2019            10
1888  AL162019     NESTOR            15  2019            10
1889  AL172019       OLGA            10  2019            10
1890  AL182019      PABLO            22  2019            10
1891  AL192019    REBEKAH            23  2019            10
1892  AL202019  SEBASTIEN            34  2019            11

Seems like this should be right, then!

I'll add this code into the data cleaning function and run it again.

### Web scraping for latest version of dataset

I ran into the issue earlier of the filename changing with each new version of the dataset. However, the link to this dataset is always hosted at the same location on the NHC Data Archive page. So, by employing a simple web scraper using BeautifulSoup I can convert the data download function to always download the latest version.

There's really no need to use a historical version of the dataset as rows newer than desired can just be excluded as a subset.

In [17]:
import os, sys
import pandas as pd

import requests
from bs4 import BeautifulSoup

root_dir = os.path.join(os.getcwd(), '..')
sys.path.append(root_dir)

def download_atlantic_hurdat_raw(dest_filename = "Atlantic"):
    
    URL = "https://www.nhc.noaa.gov/data/"
    r = requests.get(URL)

    soup = BeautifulSoup(r.content, 'html5lib')

    for element in soup.find_all('span'):
        if "Atlantic hurricane database (HURDAT2)" in element.text:
            target = element
    
    source = ("https://www.nhc.noaa.gov") + (target.next_sibling.next_sibling.attrs['href'])

    download_dataset = pd.read_csv(source, header = None, names = list(range(0, 20)))

    download_dataset.to_csv(f"../data/01_raw/{dest_filename}.csv", 
                            header = False, index = False)

    print(f"Downloaded data to /data/01_raw/{dest_filename}.csv")
    
    # Show the newly downloaded dataset
    return download_dataset.head()

In [18]:
download_atlantic_hurdat_raw()

Downloaded data to /data/01_raw/Atlantic.csv

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,AL011851,UNNAMED,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18510625,0000,,HU,28.0N,94.8W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,18510625,0600,,HU,28.0N,95.4W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,18510625,1200,,HU,28.0N,96.0W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,18510625,1800,,HU,28.1N,96.5W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

These minor changes should allow the project to be at a good state for a first push to GitHub!